In [1]:
sentence = input("Enter sentence: ")

words = sentence.split()
unique_words = set(words)

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'is', 'easy', 'and', 'python', 'powerful'}

In [2]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

highest = max(employees, key=employees.get)

print("Highest Salary:", highest, "-", employees[highest])

Highest Salary: Ravi - 75000

In [3]:
numbers = [45, 22, 89, 10, 66]

max_val = numbers[0]
min_val = numbers[0]

for n in numbers:
    if n > max_val:
        max_val = n
    if n < min_val:
        min_val = n

print("List:", numbers)
print("Max:", max_val)
print("Min:", min_val)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [4]:
prices = [450, 1200, 899, 1500, 300]

count = 0
for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

In [5]:
attendance = ["P", "P", "A", "P", "P"]

present = attendance.count("P")
percentage = (present / len(attendance)) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

In [6]:
phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [7]:
text = "python"

freq = {}

for ch in text:
    if ch in freq:
        freq[ch] += 1
    else:
        freq[ch] = 1

print(freq)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [8]:
numbers = [10, 20, 30]

t = tuple(numbers)

print("Tuple:", t)

Tuple: (10, 20, 30)

In [9]:
employees = {"Ravi": 75000, "Anita": 68000}

key = "Ravi"

if key in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [10]:
marks = [70, 80, 65, 75]

average = sum(marks) / len(marks)

print("Average Marks:", average)

Average Marks: 72.5